.env 
*.exe
*.dll
dist/
env/
build/
__pycache__/
config.ini
main.spec
installer_script.iss
Utils/generar_licencia.py
GUI/licencia_dialog.py
Utils/licencia_utils.py
Utils/obtener_mac.bat
Utils/Cleaning_file_temp.py
